@import url(../style/style.css);

.companySection{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
}

.companySection h4{
    text-align: center;
}

.companyInformationMobile {
display: flex;
margin-bottom: 20px;
padding: 15px;

}

.leftInformation{
    padding: 15px;
}
.rightInformation{

padding: 15px;
}
.documents{
    display: flex;
    align-items: center;
}

.registerDocument{
    display: flex;
    flex-direction: column;
}


.profilePhoto{
margin-bottom: 20px;
}

.imagesRightAside{
    margin:10px;
}

.galleryPhotoCompany{
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;  
}
.documentInput{
    width: 50vw;
}
.btnGallery{
    width: 30%;
    text-align: center;
    display: flex;
}
.gallerySubmit{
    justify-content: center;
    display: flex;
    margin-bottom: 0%;

}

.companyInformationBelow{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}



@media(min-width: 720px){


}

