@import url(./../style/style.css);

.companySection{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

body h2,h4{
    margin-top: 20px;
    text-align: center;
}

h2{
    text-align: center;
    
}

.companySection h4{
    text-align: center;
}

.companyInformationMobile {
width: 90vw;
margin-bottom: 20px;
padding: 15px;
}

input, select {
    width: 90vw;
    margin-bottom: 15px;
}

.leftInformation{
    padding: 15px;
}
.rightInformation{

padding: 15px;
}
.documents{
    width: 90vw;
    display: flex;
    align-items: center;
}

.registerDocument{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.registerDocument input{
    width: 100%;
}
.buttonDocuments{
    width:30%;
    display: flex;
    justify-content: end;
}

.profilePhoto{
margin-bottom: 20px;
}

.imagesRightAside{
    margin:10px;
}

.galleryPhotoCompany{
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;  
}
.documentInput{
    width: 50vw;
}
.btnGallery{
    width: 30%;
    text-align: center;
}
.gallerySubmit{
    justify-content: center;
    display: flex;
    margin-bottom: 0%;

}

.companyInformationBelow{
    display: flex;
    flex-direction: column;
}
.submitProfileDiv{
    display: flex;
    justify-content: center;
}



@media(min-width: 720px){
.companyInformationTop{
    display: grid;
    width: 45vw;
    grid-template-columns: repeat(2, 1fr);
}
.companySection{
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
input, select {
    width: 20vw;
    margin-bottom: 15px;
}
.documents{
    width: 20vw;
    display: flex;
    align-items: center;
}
.companyGallery{
    width: 45vw;
}
.submitProfileDiv{
    width: 45vw;
    display: flex;
    justify-content: center;
}
.companyInformationMobile {
    width: 45vw;

    margin-bottom: 20px;
    padding: 15px;
    }
.imagesRightAside{
        margin:-80px;
    }
}

