@import url(../style/style.css);

.companySection{
display: flex;
justify-content: center;
width: 100vw;
height:180vh ;
background-color: rgba(255, 255, 255, 0.521);
}


h2{
    text-align: center;
}
.registerCompany{

}
.companyInformation {
display: flex;
margin-bottom: 20px;

}

.leftInformation, 
.rightInformation{
width: 48%;

}


.documents{
    display: flex;
    align-items: center;
}

.registerDocument{
    display: flex;
    flex-direction: column;
}

.photosCompany{

}

.profilePhoto{
margin-bottom: 20px;
}

.galleryPhotoCompany{
    display:none;
}
.imagesRightAside{
    margin:10px;
}
