* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.star {
    font-size: 2em;
    color: gold;
}

.company {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5em;
    color: black;
}

.userName {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.additionalProfileImage {
    height: 15%;
}

.additionalProfileImage img {
    background-size: cover;
    height: 15%;
}

.review-container h2 {
    padding: 0px;
    height: 3%;
    width: 100%;
    background: none;
    color: #121933;
    text-shadow: none;
    text-align: center;
}

.container-carousel {
    position: relative;
    width: 80vw;
    height: 20vh;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    z-index: 20;
}

.carruseles {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
}

.slider-section {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-left, .btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
}

.btn-left {
    left: 10px;
    background-image: url(../img/left.png);
    background-size: cover;
}

.btn-right {
    right: 10px;
    background-image: url(../img/right.png);
    background-size: cover;
}

.ContainerReview {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.imgReviewContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.profileImage {
    position: absolute;
    top: 20px;
    right: -200px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid #000;
    z-index: 30;
}

.starContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgReviewContainer {
    width: 30vw;
}

.comment {
    margin-top: 15px;
    font-weight: bold;
}

@media (min-width: 720px) {
    #allReviews {
        display: flex;
        justify-content: space-around;
    }

    .profileImage {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border: 2px solid #000;
        z-index: 30;
    }

    .container-carousel {
        margin: 0 auto;
        position: relative;
        width: 80%;
        height: 25vh;
        background-color: #e0e0e0;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
        border-radius: 15px;
        overflow: hidden;
    }

    .carruseles {
        display: flex;
        transition: transform 0.6s ease;
        width: 100%;
    }

    .slider-section {
        min-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
