@import url(../style/style.css);
body{
display: flex;
justify-content: center;
text-align: center;
}


.login{
background-color:whitesmoke;
display: flex;
flex-direction: column;
max-width: 400px;
margin: 0 auto;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-top: 40px;
height: 400px;
} 



.loginUp{
display: flex;
flex-direction: column;
align-items: center;
}

button{
    padding: 3px 30px;
    background-color: darkgray;
    border: 0px;
    border-radius: 5px;    
    color: white;
    margin: 8px 0;
}


button:hover{ 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.655)
}

/* aquí empieza la parte de abajo de la cuenta de login */

.loginBottom{
display: flex;
flex-direction: column;
align-items: center;

}

.googleLogin{
display: flex;
margin-top: 20px;
background-color:darkgray;
color: white;
width: 20rem;
border-radius: 5px;
padding: 5px 20px;
}

.googleLogin:hover{
    color:white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.655)
}
.googleLogin p{
text-align: center;
display: flex;
justify-content: center;

}

.googleLogin img{
width: 20px;
margin-right: 120px;
display: flex;
}



.serviceLogin{
    display: flex;
    width: 180px;
    height: 200px;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

.serviceLogin img{
    width: 120px;
    border: 2px solid black;
    border-radius: 50%;
}

.searchLogin a{
font-size: 15px;
text-decoration: none;
color: black;
}


.offerLogin a {
font-size: 15px;
text-decoration: none;
color: black;

}