*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-youtube video {
    margin-top: 10px;
    max-width: 100vw;

}