* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
h1{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}
h2,h3,h4,h5,h6{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
p, button, input, ul, li, select, label{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.video-youtube{
    display: none;
}
.container h3{
    color: white;
    text-align: center;
    margin-top: 30px;
}
.container-center h2{

    width: 100vw;
    padding: 60px 30px;
    color: white;
    text-shadow: 1px 1px 1px #484848;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ), #121933;
}

header {
    background: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ), url(../img/fondoarquitecto.webp);
    background-size: cover;
    
}

span {
    color: #ffffff;
}

.logo-tri{
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.logo-tri img {
    width: 8.5vw;
}
.logo-tri nav{
    display: none;

}
.top button{
    display: none;
}


ul {
    list-style-type: none;
    text-align: center;
    color: white;
    margin: 15px 0px;

}

li {
    margin: 5px 0px;
}


.container-search{
    padding: 25px
}
.container-search form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
    gap: 10px;
    color: white;
}

input, select {
    background-color: white;
    border: 1.2px solid black;
    border-radius: 8px;
    padding: 6px;
}

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    margin-top: 10px;

}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
#btn-menu{
    display: none;
}
.review-container{
    width: 100vw;
    padding: 30px;
}
.about-us{
    width: 100vw;
}
.img-about-us{
    display: none
}
.about-us-text{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.8)
        ), url(../img/quienessomos.png);
        background-size: cover;

}
.about-us img{
    width: 100vw;
    z-index: -1;
}
.middle-menu{
    width: 100vw;
    padding: 20px 30px;
    color: white;

    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ), #121933;
}
.copyright{
    width: 100vw;
    padding: 20px 30px;
    text-align: center;
}
.social-media{
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.social-media img{
    width: 10vw;
    margin: 5px;
}
button{
    padding: 3px 30px;
    background-color: darkgray;
    border: 0px;
    border-radius: 5px;    
    color: white;
    margin: 8px 0;
}
.userImage {
    width: 50vw;
    height: 50vw;
    background-color: #121933;
    background-image: url('./../img/imageUserFormDefault.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    padding: 50px;
}

.userImage:hover {
    opacity: 0.7;
}

.userImage input[type="file"] {
    display: none;
}
.headerUser {
    top: 0;
    width: 100vw;
    height: 6vh;
    position: -webkit-sticky;
    position: sticky;
    background-color: #121933;
    background-image: none;
}

@media(min-width: 720px){
    .header {
        position: relative;
        height: 60vh;
        overflow: hidden;
    }
    
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
    
    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .logo-tri{
        padding: 60px 40px;
    }
    .logo-tri nav{
        display: block;
    }
    .logo-tri h1{
        font-size: 80px;
    }
    .logo-tri a{
        text-decoration: none;
        color: white;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 18px;
        padding: 15px
    }
    .container-center{
        display: flex;
    }
    .container-search{
        display: flex;
    }

    .container-search form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        gap: 10px;
        color: white;
    }

    .container-search input{
        width: 100px;
        font-weight: bold;
    }

    .container-search select{
        padding: 8px 40px;
    }
    .container-menu, .btn-menu{
        display: none;
    }

    .video-youtube{
        display: block;
        position: absolute;
        z-index: -2;
    }
    .video-youtube video{
        width: 100vw;
    }
    header {
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ), url(/img/construccion.mp4)
    }
    button{
        padding: 3px 30px;
        background-color: darkgray;
        border: 0px;
        border-radius: 5px;    
        color: white;
        margin: 8px 0;
    }
    button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.655)
    }
    .container h3{
        color: white;
        text-align: center;
        margin-top: 120px;
    }
    .about-us{
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }
    .img-about-us{
        display: block;
        width: 50vw;
        background-image:  url(../img/quienessomos.png);
            background-size: cover;
    }
    .about-us-text{
        width: 50vw;
        height: 50vh;
        background-image: none;
        background: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), #121933;
    }
    .middle-menu{
        margin-top: 30px;
        width: 100vw;
        font-size: larger;
        display: flex;
        justify-content: space-around;
        padding: 20px 30px;
        color: #121933;
        background: white
    }
    .middle-menu li{
        color: #121933;
        font-weight: bold;
    }
    .copyright{
        width: 100vw;
        padding: 20px 30px;
        text-align: center;
    }
    .social-media{
        padding: 10px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .social-media img{
        width: 3vw;
        margin: 5px;
    }
    .userImage {
        width: 25vw;
        height: 25vw;
        background-color: #ddd;
        background-image: url('./../img/imageUserFormDefault.png');
        background-size: cover;
        background-position: center center;
        border-radius: 0;
        cursor: pointer;
        margin: 100px auto;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}