@import url(./style.css);


.containerCenterProfile{
    padding: 30px 0px;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #81a3e351;
}

.userProfileInformation{
    width:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#userProfilePhoto{
    display: flex;
    justify-content: center;
}


#userProfilePhoto img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px black;
    margin-bottom: 20px;
}

#userProfileName h4 {
display: flex;
justify-content: center;
color: #121933;

}
.userProfileImages{
display: flex;
width: 80vw;
margin: 10px 0px;
}

.userProfileFeedback {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
    align-items: center;
}
.userProfileFeedback h5{
    margin-bottom: 20px;
}

.userImage, .userImage2, .userImage3 {
    width: 10vw;
    height: 10vw;
    border-radius: 8px; /* Ajusta el ancho según tus necesidades */
    border: 1px solid #ccc; /* Añade un borde para visualizar mejor los contenedores */
    display: flex;
    background: #81a3e351 url(../img/compact-cam-svgrepo-com.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.userProfileImg{
    width: 70px;
    height: 60px;

}
.star{
    font-size: 32px;
    color: #121933;
    transition: color 0.3s;
    cursor: pointer;
}

.rating{  /* el div donde estan las estrellas */
display: flex;
align-items: center;
}

.star:hover,
.star.checked{
color: gold;
}

.star-rating {
    font-size: 2rem;
    color: #e6ff09;
    cursor: pointer;
}

.star-rating {
    color: #121933;
    font-size: 0.8rem;
    margin: 30px;
}

.star-rating .star.active {
    color: #ff9800;
}

#commentText{ 
background-color: rgba(128, 128, 128, 0.041);
width: 80vw; 
padding: 5px; 
border: 1px solid #cccccc72; 
border-radius: 5px; 
resize: vertical; 
font-family: Arial, sans-serif; 
font-size: 14px;
}
#buttonSubmit{
    margin: 20px 0px;
    background-color: #121933;
}
#buttonSubmit:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #846bff;
}
@media(min-width: 720px){
    .containerCenterProfile{
        display: flex;
        flex-direction: row;
        background-color: #81a3e351;
    }
    .userProfileInformation{
        width:35%;
        display: flex;
        flex-direction: column;
    }
    .userProfileInformation h1{
        font-size:3rem;
        color:#121933;
    }
    #userProfileName{
        width: 100% ;
        margin: 0px;
    }
    .userProfileImages{
        width: 80%;
        display: flex;
        justify-content: space-between;

    }
    .rating{
        cursor: pointer;
    }
    .userImage{
        width: 100%;
        margin: 5px;
    }

    #userProfilePhoto{      /* Este es la clase del div vacio donde se  va a inyectar la foto*/
        margin-bottom: 15px;
        
    }

    #userProfilePhoto img{
        width:20vw;
        height: 20vw;
        border-radius: 50%;
        box-shadow: 2px 2px 8px black;
    }
    .userProfileFeedback{
        width: 65%;
    }
    .userImage {
        width: 10vw;
        height: 10vw;
        border-radius: 8px; /* Ajusta el ancho según tus necesidades */
        border: 1px solid #ccc; /* Añade un borde para visualizar mejor los contenedores */
        display: flex;
        background: #81a3e351 url(../img/compact-cam-svgrepo-com.png);
        background-size: cover;
        justify-content: center;
        align-items: center;
    }


    .userImgProfile{
        width: 25vw;
        height: 25vw;
        display: flex;
        margin: 5px;
    }
    #commentText{
        width: 100%;
        background-color: #81a3e351;
    }
    .commentDiv{
        width: 70%;
    }
    

}